h1{
		color: MediumSlateBlue;
		text-align: center;
		font-family: comic sans ms;
		font-style: normal;
		font-size: 27px ;
		
	}
	li{ 
		color: DeepPink;
		font-size: 25px;
		list-style-position: inside;
		
	}

	h2{
		color: PaleVioletRed;
		text-align: center;
		font-family: comic sans ms;
		font-style: normal;
		font-size: 23px ;
		
	}
	p{
		font-family: arial;
		font-size: 20px;
		text-align: left;
       color: darkmagenta;

	}

	img{
		height: 460px;
		width: 480px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	a{
		
	}
	body{
		background-color:black;

	}