body{
    background-color: aqua;
	background-image:url(https://i.pinimg.com/564x/72/a6/1e/72a61e5d83722e5bf67d84a432d3a2ed.jpg);*/
	background-size: cover;
	margin: 30px;
}
h1{
    color: MediumSlateBlue;
	text-align: center;
	font-family: comic sans ms;
	font-style: normal;
	font-size: 27px ;
	
}
li{ 
	color: DeepPink;
	font-size: 25px;
	list-style-position: inside;
	
}

h2{
	color: PaleVioletRed;
	text-align: center;
	font-family: comic sans ms;
	font-style: normal;
	font-size: 23px ;
	
}
p{
	font-family: arial;
	font-size: 20px;
	text-align: left;
   color: white;
   text-align: center;

}

img{
	height: 460px;
	width: 480px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a{
	

}